@define-color blue #00869b;
@define-color black #000000;
@define-color green #6effb9;

#window {
margin: 2px;
border: 0px solid @blue;
background-color: @black;
}

#input {
margin: 5px;
border: 2px solid @white;
}

#inner-box {
margin: 2px;
border: 0px solid @blue;
background-color: @black;
}

#outer-box {
margin: 0px;
border: 0px solid @blue;
}

#scroll {
margin: 2px;
border: 0px solid @blue;
background-color: @black;
}

#text {
margin: 2px;
border: 0px solid @blue;
} 

#entry:selected{
margin: 5px;
border: 2px solid @blue;
border-radius: 5px;
background-color: @black;
}

